# Generating CTUCAN sources
pyyaml==5.4.1
wheel

# Cocotb tests
cocotb==1.6.2
git+https://github.com/themperek/cocotb-test@7ade4fe5c4f8665095963715f2fcc8b8b94d14dd
cocotbext-wishbone==0.2.2
yapf==0.32.0

# Litex
git+https://github.com/m-labs/migen
git+https://github.com/enjoy-digital/litex
git+https://github.com/litex-hub/pythondata-software-compiler_rt
git+https://github.com/litex-hub/pythondata-software-picolibc
git+https://github.com/litex-hub/litex-boards
git+https://github.com/enjoy-digital/liteeth
git+https://github.com/enjoy-digital/liteiclink
git+https://github.com/enjoy-digital/litedram
git+https://github.com/litex-hub/pythondata-cpu-vexriscv
